body {
  width: 96%;
  margin-left: 1%;
  font-family: sans-serif, 'Lora', 'Times New Roman';
  font-size: 18px;
  .table-of-contents {
    margin-top: 10px;
    font-family: 'Noto Sans JP', sans-serif, 'Livvic', 'Times New Roman';
    font-size: 1rem;
    #toc-heading {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
    .top-entry {
      padding-left: 1.0rem;
      padding-bottom: 1.2rem;
    }
  }
  .entry-title {
    text-shadow: 0px 1px 1px #aaf;
  }
  section {
    margin-top: 0.5rem;
    margin-botton: 1rem;
  }
  #bottombar {
    background-color: #eee;
    border: 0px;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    ul {
      border: 0px;
      margin: 0px;
      padding: 0px;
      li {
        border: 0px;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .copyright {
      padding-bottom: 1rem;
  }
}


