@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  width: 96%;
  margin-left: 1%;
  font-family: 'Merriweather', sans-serif, 'Lora', 'Times New Roman';
  font-size: 18px;
}
