<div class="content">
    <h1>{{ title .Data.Term  }} posts</h1>
    {{ range first 16 .Pages }}
    {{ if eq .Type "post"}}
        <p>
        <aside>{{ .Date.Format "2006-01-02"}}
	</aside>
        <a href="{{ .Permalink }}" style="color:black;">{{ .Title }}</a>
        {{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>{{ end }}
        {{ if .Params.subtitle }}<span style="font-size:90%;color:#888;float:right;">{{ .Params.subtitle }}</span>{{ end }}
        </p>
    {{ end }}
    {{ end }}
    {{ if eq .URL "/" }}
    <p style="padding-bottom: 1.8em;"></p>
    <p>
    <aside>And more</aside>
    <a href="{{ "/archives/" | absURL }}" style="color:black;font-size: 115%;">Archives of All Posts</a>
    <span style="font-size:90%;color:#888;float:right;">The history of this site</span>
    </p>
    {{ end }}
</div>

