{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    {% if page.extra.banner %}
      <div class="article-banner">
        <img src="{{ page.extra.banner | safe}}" />
        {{ page.extra.banner }}
      </div>
      {% if page.extra.banner_caption %}
        <div class="article-banner-caption">
          {{ page.extra.banner_caption }}
        </div>
      {% endif %}
    {% endif %}

    {% if page.extra.subtitle %}
      <section class="section">
        <h1 class="subtitle has-text-info has-text-weight-semibold">
          <i class="fas fa-book-open"></i>&thinsp;{{ page.extra.subtitle }}
        </h1>
      </section>
    {% endif %}

    {{ page.content | safe }}
    
     <section class="section">
      <div class="is-size-7 is-family-code has-text-grey has-text-right">
        {% if page.date %}
          <strong>Published at {{ page.date }}</strong>
        {% endif %}
        {% if page.update %}
          &thinsp; Last updated {{ page.updated }}&thinsp;
        {% endif %}
      </div>
    </section>
    
    <footer class="copyright">
      Copyright 2019-2021 Shuji Narazaki.
      <nav id="bottombar" class="navbar is-fixed-bottom" aria-label="navigation">
        <div class="navbar-brand">
          {% if page.taxonomies %}
            {% if page.taxonomies.tags %}
              {% for tag in page.taxonomies.tags %}
              <div class="navbar-item">
                <a href="/tag/{{ tag }}" class="tagword">{{ tag }}</a>
              </div>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      </nav>
    </footer>
  </div>
</section>
{% endblock content %}
