{% extends "base.html" %}

{% block content %}
<div style="padding-top: 3rem;"/>
{% if page.extra.banner %}
  <div class="article-banner">
    <img src="{{ page.extra.banner | safe}}" />
  </div>
  {% if page.extra.banner_caption %}
    <div class="article-banner-caption">
      {{ page.extra.banner_caption }}
    </div>
  {% endif %}
{% endif %}

<div class="article-container">
 {% if page.extra.subtitle %}
    <h1 class="subtitle has-text-info has-text-weight-semibold">
      {{ page.extra.subtitle }}
    </h1>
  {% endif %}
 {{ page.content | safe }}

  <div class="date-footer is-size-7 is-family-code has-text-grey has-text-right" style="margin-top: 2rem;">
    Published at {{ page.date }}
    {% if page.extra.published %}
      (1st edition: {{ page.extra.published }})
    {% endif %}
    {% if page.updated %}
      &thinsp; Last updated {{ page.updated }}&thinsp;
    {% endif %}
  </div>
</div>
<nav id="bottombar" class="navbar is-fixed-bottom" aria-label="navigation">
  <div class="navbar-brand">
    {% if page.taxonomies %}
      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
        <div class="navbar-item">
          <a href="/tags/#{{ tag | slugify }}" class="tagword">#{{ tag }}</a>
        </div>
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
  </nav>
{% endblock content %}
